<%= programmer.send(programmer.print_attribute(locals)) %>

    <p>
        <%= render partial: "attribute", collection: programmer, locals: {home_country: "Home Country:", quote: "Quote:", claim_to_fame: "Claim To Fame:"} %>
    </p>
